<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="testSuit">
    <test name="testDriverDataDemo">
        <parameter name="sql"
                   value="select * from api_test_data_demo where id = 1;"/>
        <classes>
            <class name="com.xzj.service.TestDriverDataService"/>
        </classes>
    </test>

</suite>